# Project Title

## Data Engineering Capstone Project

Project Summary

### The project follows the follow steps:

* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# import pandas as pd
import re
# import psycopg2  # For postgres
from collections import defaultdict
from datetime import datetime, timedelta
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf  # For pyspark
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [3]:
#Installs
#sc.install_pypi_package("pandas")
#sc.install_pypi_package("boto3")
#sc.install_pypi_package("psycopg2")
# sc.install_pypi_package("numpy==1.17.3")
#sc.install_pypi_package("smart_open")

In [ ]:
sc.list_packages() # For AWS EMR

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

Package                    Version
-------------------------- ---------
beautifulsoup4             4.9.3
boto                       2.49.0
click                      7.1.2
jmespath                   0.10.0
joblib                     1.0.1
lxml                       4.6.2
mysqlclient                1.4.2
nltk                       3.5
nose                       1.3.4
numpy                      1.16.5
pip                        9.0.1
py-dateutil                2.2
python37-sagemaker-pyspark 1.4.1
pytz                       2021.1
PyYAML                     5.4.1
regex                      2021.3.17
setuptools                 28.8.0
six                        1.13.0
tqdm                       4.59.0
wheel                      0.29.0
windmill                   1.6

### Step 1: Scope the Project and Gather Data (Explore)

#### Scope 

The aim of this project is to enrich the US I94 immigration data with data such as demographics and temperature to have wider understanding of the immigration patterns. We will be creating dimension tables and one fact table. The data fromI94 is aggregated by destination city and then joined with temperature data, resulting in the one fact table we want. Ultimately, we can query on the databse to check if temperature affects the destination city for immigration.

#### Describe and Gather Data 

The I94 data which of the format SAS7BDAT(binary database storage format), is taken from [here](https://travel.trade.gov/research/reports/i94/historical/2016.html). 

World Temperature Data: This dataset came from Kaggle. You can read more about it [here](https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data).

U.S. City Demographic Data: This data comes from OpenSoft. You can read more about it [here](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/).

Airport Code Table: This is a simple table of airport codes and corresponding cities. It comes from [here](https://datahub.io/core/airport-codes#data).

In [4]:
awsAccessKeyId = 'xxxxxx'
awsSecretAccessKey = 'xxxxxxx'

In [5]:
spark._jsc.hadoopConfiguration().set("fs.s3n.awsAccessKeyId", awsAccessKeyId)
spark._jsc.hadoopConfiguration().set("fs.s3n.awsSecretAccessKey", awsSecretAccessKey)
spark._jsc.hadoopConfiguration().set("fs.s3n.impl", "org.apache.hadoop.fs.s3native.NativeS3FileSystem")
spark._jsc.hadoopConfiguration().set("fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem")
spark._jsc.hadoopConfiguration().set("com.amazonaws.services.s3.enableV4", "true")
spark._jsc.hadoopConfiguration().set("fs.s3a.aws.credentials.provider","org.apache.hadoop.fs.s3a.BasicAWSCredentialsProvider")
spark._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "us-east-1.amazonaws.com")

In [6]:
# True indicates, it can be null
demographics_schema = StructType([
    StructField('City', StringType(), True),
    StructField('State', StringType(), True),
    StructField('Median Age', DoubleType(), True),
    StructField('Male Population', IntegerType(), True),
    StructField('Female Population', IntegerType(), True),
    StructField('Total Population', IntegerType(), True),
    StructField('Number of Veterans', IntegerType(), True),
    StructField('Foreign-born', IntegerType(), True),
    StructField('Average Household Size', DoubleType(), True),
    StructField('State Code', StringType(), True),
    StructField('Race', StringType(), True),
    StructField('Count', IntegerType(), True)
])
#s3://capstonend/us-cities-demographics.csv
df_demographics = spark.read.csv("Capstone/us-cities-demographics.csv",
                                 sep=";",
                                 schema=demographics_schema,
                                 header=True)

In [7]:
# True indicates, it can be null
temperature_schema = StructType([
    StructField('dt', DateType(), True),
    StructField('AverageTemperature', DoubleType(), True),
    StructField('AverageTemperatureUncertainty', DoubleType(), True),
    StructField('City', StringType(), True),
    StructField('Country', StringType(), True),
    StructField('Latitude', StringType(), True),
    StructField('Longitude', StringType(), True)
])
#Temperature
#s3://capstonend/GlobalLandTemperaturesByCity.csv
temperature = 'Capstone/GlobalLandTemperaturesByCity.csv'
df_temperature = spark.read.csv(temperature,
                                schema=temperature_schema,
                                header=True)

In [8]:
# True indicates, it can be null
airport_schema = StructType([
    StructField('ident', StringType(), True),
    StructField('type', StringType(), True),
    StructField('name', StringType(), True),
    StructField('elevation_ft', IntegerType(), True),
    StructField('continent', StringType(), True),
    StructField('iso_country', StringType(), True),
    StructField('iso_region', StringType(), True),
    StructField('municipality', StringType(), True),
    StructField('gps_code', StringType(), True),
    StructField('iata_code', StringType(), True),
    StructField('local_code', StringType(), True),
    StructField('coordinates', StringType(), True)
])
#Airport Codes
#s3://capstonend/airport-codes_csv.csv
df_airport_codes = spark.read.csv("Capstone/airport-codes_csv.csv",
                                  schema=airport_schema,
                                  header=True)

In [9]:
#s3://capstonend/sas_data/
immigration = 'Capstone/sas_data/'
df_immigration = spark.read.parquet(immigration)

In [10]:
df_demographics.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: double (nullable = true)
 |-- Male Population: integer (nullable = true)
 |-- Female Population: integer (nullable = true)
 |-- Total Population: integer (nullable = true)
 |-- Number of Veterans: integer (nullable = true)
 |-- Foreign-born: integer (nullable = true)
 |-- Average Household Size: double (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: integer (nullable = true)

In [11]:
df_demographics.show(2)

+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
|         City|        State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|              Race|Count|
+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
|Silver Spring|     Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|Hispanic or Latino|25924|
|       Quincy|Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|             White|58723|
+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
only showing top 2 rows

In [12]:
df_temperature.printSchema()

root
 |-- dt: date (nullable = true)
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [13]:
df_temperature.show(2)

+----------+------------------+-----------------------------+-----+-------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|             6.068|           1.7369999999999999|Ã…rhus|Denmark|  57.05N|   10.33E|
|1743-12-01|              null|                         null|Ã…rhus|Denmark|  57.05N|   10.33E|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
only showing top 2 rows

In [14]:
df_airport_codes.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: integer (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [15]:
df_airport_codes.show(2)

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 2 rows

In [16]:
df_immigration.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [17]:
df_immigration.show(2)

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 2 rows

## Cleaning (Transform)

Temperature Data - We will drop all data points where AverageTemperature is NaN, duplicate locations, and add the i94port of the location in each entry.

In [18]:
def droping_nan_dup():
    '''
    Will drop nan rows, and duplicates of demographics and temperature
    '''
    global df_demographics
    global df_temperature
    global df_airport_codes
    df_demographics = df_demographics.dropna()
    df_temperature = df_temperature.filter(df_temperature.AverageTemperature != 'NaN')
    df_temperature = df_temperature.dropDuplicates(['City', 'Country'])
    df_airport_codes = df_airport_codes.dropna()

In [19]:
droping_nan_dup()

*I94 immigration data* - We wil drop all data points with the destination city code i94port is not a valid value (XXX, 99, NaN, etc). This is described in I94_SAS_Labels_Description.SAS

In [20]:
# Creating dict of i94port codes
re_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
i94port_valid = {}
with open('Capstone/i94port_valid.txt') as f:
     for data in f:
         match = re_obj.search(data)
         i94port_valid[match[1]]=[match[2]]

In [21]:
# Clean I94 immigration data
def clean_i94_data(file):
    '''    
    Input: Path to I94 immigration data file
    Output: Spark dataframe of I94 immigration data with valid i94port
    '''
    global df_immigration
    # Filter out entries where i94port is invalid
    df_immigration = df_immigration.filter(
        df_immigration.i94port.isin(list(i94port_valid.keys())))
    return df_immigration

In [22]:
df_immigration = clean_i94_data(df_immigration)

In [23]:
df_immigration.show()

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
|5748522.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20579.0|  57.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1959.0|10292016|     M|  null|     NZ|9.498180283E10|00010|      B2|
|5748523.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  66.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1950.0|10292016|     F|  null|     NZ|9.497968993E10|00010|      B2|
|5748524.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  41.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1975.0|10292016|     F|  null|     NZ|9.497974673E10|00010|      B2|
|5748525.0|2016.0|   4.0| 245.0| 464.0|    HOU|20574.0|    1.0|     FL|20581.0|  27.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1989.0|10292016|     M|  null|     NZ|9.497324663E10|00028|      B2|
|5748526.0|2016.0|   4.0| 245.0| 464.0|    LOS|20574.0|    1.0|     CA|20581.0|  26.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1990.0|10292016|     F|  null|     NZ|9.501354793E10|00002|      B2|
|5748527.0|2016.0|   4.0| 245.0| 504.0|    NEW|20574.0|    1.0|     MA|20576.0|  44.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1972.0|10292016|     M|  null|     UA|9.493828593E10|01215|      B2|
|5748528.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|   null|20575.0|  39.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1977.0|10292016|     M|  null|     CM|9.501810463E10|00472|      B2|
|5748529.0|2016.0|   4.0| 245.0| 504.0|    WAS|20574.0|    1.0|     VA|20596.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10292016|     M|  null|     CM|9.492489983E10|00488|      B2|
|5748530.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  56.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1960.0|10292016|     F|  null|     CM|9.492648103E10|00302|      B2|
|5748531.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10282016|     M|  null|     CM|9.492629303E10|00302|      B2|
|5748532.0|2016.0|   4.0| 245.0| 504.0|    MIA|20574.0|    1.0|     FL|20581.0|  53.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1963.0|10292016|     F|  null|     CM|9.500640513E10|00430|      B2|
|5748534.0|2016.0|   4.0| 245.0| 528.0|    SFR|20574.0|    1.0|     CA|   null|  84.0|    2.0|  1.0|20160430|     HNK| null|      G|   null|   null|   null| 1932.0|10282016|     F|  null|     CX|9.492476223E10|00872|      B2|
|5748876.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  43.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1973.0|10292016|     M|  null|     UA|9.499463063E10|05574|      B1|
|5748877.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  30.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1986.0|10292016|     F|  null|     UA|9.499447663E10|05574|      B1|
|5748881.0|2016.0|   4.0| 245.0| 582.0|    LOS|20574.0|    1.0|     CA|20575.0|  34.0|    2.0|  1.0|20160430|     SHG| null|      G|      O|   null|      M| 1982.0|10292016|     M|  null|     AM|9.496770903E10|00646|      B2|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

In [24]:
@udf()
def get_i94port(city):
    '''
    Input: City name
    Output: Corresponding i94port
    
    '''
    for key in i94port_valid:
        if city and city.lower() in i94port_valid[key][0].lower():
            return key

In [25]:
# Add iport94 code based on city name, helps in joins
df_temperature = df_temperature.withColumn("i94port",get_i94port(df_temperature.City))

In [26]:
# Remove data points with no iport94 code
df_temperature = df_temperature.filter(df_temperature.i94port != 'null')
df_temperature.show()

+----------+-------------------+-----------------------------+---------+--------------------+--------+---------+-------+
|        dt| AverageTemperature|AverageTemperatureUncertainty|     City|             Country|Latitude|Longitude|i94port|
+----------+-------------------+-----------------------------+---------+--------------------+--------+---------+-------+
|1852-07-01|             15.488|                        1.395|    Perth|           Australia|  31.35S|  114.97E|    PER|
|1828-01-01|             -1.977|                        2.551|  Seattle|       United States|  47.42N|  121.97W|    SEA|
|1743-11-01|              2.767|                        1.905| Hamilton|              Canada|  42.59N|   80.73W|    HAM|
|1849-01-01|  7.399999999999999|                        2.699|  Ontario|       United States|  34.56N|  116.76W|    ONT|
|1821-11-01|              2.322|                        2.375|  Spokane|       United States|  47.42N|  117.24W|    SPO|
|1843-01-01| 18.874000000000002|                        2.017|Abu Dhabi|United Arab Emirates|  24.92N|   54.98E|    MAA|
|1824-01-01|             25.229|                        1.094|    Anaco|           Venezuela|   8.84N|   64.05W|    ANA|
|1855-05-01|              9.904|           1.4369999999999998|      Ica|                Peru|  13.66S|   75.14W|    CHI|
|1835-01-01|              9.833|                        2.182|  Nogales|       United States|  31.35N|  111.20W|    NOG|
|1743-11-01|  8.129999999999999|                        2.245|  Atlanta|       United States|  34.56N|   83.68W|    ATL|
|1796-01-01|             15.552|                        2.305|      Mau|               India|  26.52N|   84.18E|    OGG|
|1743-11-01|              3.264|                        1.665|   Newark|       United States|  40.99N|   74.56W|    NEW|
|1857-01-01| 18.581000000000003|           1.8119999999999998|  Springs|        South Africa|  26.52S|   28.66E|    PSP|
|1856-01-01| 26.055999999999997|           1.3769999999999998|      Ise|             Nigeria|   7.23N|    5.68E|    BOI|
|1743-11-01|             18.722|                        2.302|  Orlando|       United States|  28.13N|   80.91W|    ORL|
|1823-01-01|             11.602|           2.8160000000000003|   Laredo|       United States|  28.13N|   99.09W|    LCB|
|1841-01-01| 13.107999999999999|                        2.519|     Tali|              Taiwan|  24.92N|  120.59E|    MET|
|1828-01-01|-2.7630000000000003|                        2.617| Victoria|              Canada|  49.03N|  122.45W|    VIC|
|1743-11-01| 1.1880000000000002|                        1.531|   Boston|       United States|  42.59N|   72.00W|    BOS|
|1849-01-01|  8.091999999999999|           2.1919999999999997|Fairfield|       United States|  37.78N|  122.03W|    FTF|
+----------+-------------------+-----------------------------+---------+--------------------+--------+---------+-------+
only showing top 20 rows

In [27]:
def filter_temperature():
    '''
    Filters only temperature from United States, and add i94port
    '''
    global df_temperature
    print('Before Removal =',df_temperature.count())
    df_temperature = df_temperature.filter(
    df_temperature.Country == 'United States')
    print('After Removal =',df_temperature.count())

In [28]:
filter_temperature()

Before Removal = 207
After Removal = 112

In [29]:
df_temperature.show()

+----------+------------------+-----------------------------+----------------+-------------+--------+---------+-------+
|        dt|AverageTemperature|AverageTemperatureUncertainty|            City|      Country|Latitude|Longitude|i94port|
+----------+------------------+-----------------------------+----------------+-------------+--------+---------+-------+
|1828-01-01|            -1.977|                        2.551|         Seattle|United States|  47.42N|  121.97W|    SEA|
|1849-01-01| 7.399999999999999|                        2.699|         Ontario|United States|  34.56N|  116.76W|    ONT|
|1821-11-01|             2.322|                        2.375|         Spokane|United States|  47.42N|  117.24W|    SPO|
|1835-01-01|             9.833|                        2.182|         Nogales|United States|  31.35N|  111.20W|    NOG|
|1743-11-01| 8.129999999999999|                        2.245|         Atlanta|United States|  34.56N|   83.68W|    ATL|
|1743-11-01|             3.264|                        1.665|          Newark|United States|  40.99N|   74.56W|    NEW|
|1743-11-01|            18.722|                        2.302|         Orlando|United States|  28.13N|   80.91W|    ORL|
|1823-01-01|            11.602|           2.8160000000000003|          Laredo|United States|  28.13N|   99.09W|    LCB|
|1743-11-01|1.1880000000000002|                        1.531|          Boston|United States|  42.59N|   72.00W|    BOS|
|1849-01-01| 8.091999999999999|           2.1919999999999997|       Fairfield|United States|  37.78N|  122.03W|    FTF|
|1820-01-01|              9.89|           3.8819999999999997|  Corpus Christi|United States|  28.13N|   97.27W|    CRP|
|1849-01-01|6.4990000000000006|                        2.459|          Fresno|United States|  36.17N|  119.34W|    FRE|
|1758-03-01|             2.512|                        3.833|           Omaha|United States|  40.99N|   95.86W|    OMA|
|1743-11-01|             9.391|                        2.199|        Columbia|United States|  34.56N|   81.73W|    CAE|
|1758-03-01|             2.512|                        3.833|         Lincoln|United States|  40.99N|   95.86W|    LLB|
|1743-11-01|             3.264|                        1.665|        New York|United States|  40.99N|   74.56W|    NYC|
|1758-03-01| 6.422999999999999|                        3.742|     Springfield|United States|  37.78N|   93.56W|    SPI|
|1743-11-01|             7.442|                         2.32|       Nashville|United States|  36.17N|   87.51W|    NSV|
|1775-04-01|7.0200000000000005|           2.3040000000000003|Colorado Springs|United States|  39.38N|  104.05W|    COS|
|1743-11-01|             5.371|                        1.578|      Bridgeport|United States|  40.99N|   72.43W|    BGC|
+----------+------------------+-----------------------------+----------------+-------------+--------+---------+-------+
only showing top 20 rows

## Define the Data Model (Load)

Fact Table - This will contain information from the I94 immigration data joined with the city temperature data on i94port
Columns:
i94yr = year, i94mon = numeric month, i94cit = 3 digit code of origin city, i94port = 3 character code of destination city, arrdate = arrival date, i94mode = 1 digit travel code, depdate = departure date, i94visa = reason for immigration, AverageTemperature = average temperature of destination city

Dimension Tables - df_immigration, df_temperature

df_immigration:-
i94yr = year, i94mon = numeric month, i94cit = 3 digit code of origin city, i94port = 3 character code of destination city, arrdate = arrival date, i94mode = 1 digit travel code, depdate = departure date, i94visa = reason for immigration

df_temperature:-
i94port = code of destination city (mapped from cleaned up immigration data), AverageTemperature = average temperature, City = city name, Country = country name, Latitude= latitude, Longitude = longitude

In [30]:
def load_immigration():
    '''
    Extracts and saves the immigration table
    '''
    global df_immigration
    # Immigration, extract and save
    immigration_table = df_immigration.select([
        "i94yr", "i94mon", "i94cit", "i94port", "arrdate", "i94mode", "depdate",
        "i94visa"
    ])
    immigration_table.write.mode("append").partitionBy("i94port").parquet(
        "immigration.parquet")

In [31]:
load_immigration()

In [32]:
def load_temperature():
    '''
    Extracts and saves the temperature table
    '''
    global df_temperature
    # Temperature
    temp_table = df_temperature.select([
        "AverageTemperature", "City", "Country", "Latitude", "Longitude", "i94port"
    ])
    temp_table.write.mode("append").partitionBy("i94port").parquet(
        "temperature.parquet")

In [33]:
load_temperature()

In [34]:
def load_demographics():
    '''
    Extracts and saves the demographics table
    '''
    global df_demographics
    df_demographics = df_demographics.withColumnRenamed(
        'State Code', 'State_Code').withColumnRenamed(
            'Male Population', 'Male_Population').withColumnRenamed(
                'Female Population', 'Female_Population').withColumnRenamed(
                    'Total Population', 'Total_Population').withColumnRenamed(
                        'Number of Veterans',
                        'Number_of_Veterans').withColumnRenamed(
                            'Average Household Size',
                            'Average_Household_Size').withColumnRenamed('Median Age', 'Median_Age')
    df_demographics.write.mode("append").parquet("demographics.parquet")

In [35]:
load_demographics()

In [36]:
def load_fact_table():
    '''
    Performs joins and extracts required columns for fact_table
    '''
    global df_immigration
    global df_temperature
    # For fact table, create views to use sql for easy join
    df_immigration.createOrReplaceTempView("immigration_view")
    df_temperature.createOrReplaceTempView("temp_view")

    # Create the fact table by joining the immigration and temperature views
    global fact_table
    fact_table = spark.sql('''
    SELECT immigration_view.i94yr as year,
           immigration_view.i94mon as month,
           immigration_view.i94cit as city,
           immigration_view.i94port as i94port,
           immigration_view.arrdate as arrival_date,
           immigration_view.depdate as departure_date,
           immigration_view.i94visa as reason,
           temp_view.AverageTemperature as temperature,
           temp_view.Latitude as latitude,
           temp_view.Longitude as longitude
    FROM immigration_view
    JOIN temp_view ON (immigration_view.i94port = temp_view.i94port)
    ''')
    fact_table.write.mode("append").partitionBy("i94port").parquet(
        "fact_table.parquet")

In [37]:
load_fact_table()

## Quality Checks

Check the number of rows

In [38]:
def quality_checks_rows(table,name_):
  '''
  Input: table, and name of the table
  Output: Print statement to check if the table passed the quality checks 
  '''
  c = table.count()
  if c > 0:
    print(f'No. of rows in {name_} is {c}')
  else:
    print(f'Data quality check failed for {name_}')

In [39]:
quality_checks_rows(df_immigration,'df_immigration')

No. of rows in df_immigration is 3088544

In [40]:
quality_checks_rows(df_temperature,'df_temperature')

No. of rows in df_temperature is 112

In [41]:
quality_checks_rows(df_demographics,'df_demographics')

No. of rows in df_demographics is 2875

In [42]:
quality_checks_rows(fact_table,'fact_table')

No. of rows in fact_table is 2568134

In [79]:
df_demographics = df_demographics.withColumnRenamed('count','counts')# Renaming column for quality checks

In [83]:
df_immigration = df_immigration.withColumnRenamed('count','counts')# Renaming column for quality checks

In [75]:
import pyspark.sql.functions as f
def quality_checks_dups(df,name_):
    c = df.groupBy(df.columns)\
    .count()\
    .where(f.col('count') > 1)\
    .select(f.sum('count')).collect()[0][0]
    if c and c > 1:
        print(f'Data quality check failed!! No. of rows in {name_} are duplicate')
    else:
        print(f'Data quality check passed for {name_}')

In [76]:
quality_checks_dups(df_temperature,'temperature')

Data quality check passed for temperature

In [80]:
quality_checks_dups(df_demographics,'demographics')

Data quality check passed for demographics

In [84]:
quality_checks_dups(df_immigration,'immigration')

Data quality check passed for immigration

## Validating Loaded Data

In [43]:
temperature = './temperature.parquet'
df_temperature = spark.read.parquet(temperature)

In [44]:
df_temperature.show()

+------------------+----------------+-------------+--------+---------+-------+
|AverageTemperature|            City|      Country|Latitude|Longitude|i94port|
+------------------+----------------+-------------+--------+---------+-------+
|7.0200000000000005|Colorado Springs|United States|  39.38N|  104.05W|    COS|
|             3.653|  Salt Lake City|United States|  40.99N|  112.90W|    SLC|
|            19.761| Fort Lauderdale|United States|  26.52N|   80.60W|    FTL|
|              9.89|  Corpus Christi|United States|  28.13N|   97.27W|    CRP|
| 8.091999999999999|   San Francisco|United States|  37.78N|  122.03W|    SFR|
|             22.32|   Oklahoma City|United States|  36.17N|   97.46W|    OKC|
| 8.818999999999999|     Los Angeles|United States|  34.56N|  118.70W|    LOS|
|             17.55|    Jacksonville|United States|  29.74N|   81.23W|    JAC|
|             -3.42|     Albuquerque|United States|  34.56N|  107.03W|    ABQ|
| 6.072000000000001|    Philadelphia|United States|  39.38N|   74.91W|    PHI|
|1.9390000000000005|    Grand Rapids|United States|  42.59N|   85.09W|    GRP|
| 4.372999999999998|    Indianapolis|United States|  39.38N|   85.32W|    INP|
|6.4990000000000006|     Bakersfield|United States|  36.17N|  119.34W|    BFL|
|             0.706|    Cedar Rapids|United States|  42.59N|   91.64W|    CID|
|             9.892|    Fayetteville|United States|  34.56N|   79.78W|    FAY|
|15.827000000000002|     New Orleans|United States|  29.74N|   90.46W|    NOL|
| 4.800000000000002|     Kansas City|United States|  39.38N|   93.64W|    KAN|
| 8.091999999999999|      Sacramento|United States|  37.78N|  122.03W|    SAC|
| 7.168999999999999|     San Antonio|United States|  29.74N|   97.85W|    SNA|
|            16.028|     Brownsville|United States|  26.52N|   96.72W|    BRO|
+------------------+----------------+-------------+--------+---------+-------+
only showing top 20 rows

In [45]:
df_demographics = df_demographics.withColumnRenamed('Foreign-born','Foreign_born') # Renaming Column

In [46]:
df_demographics.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            City|         State|Median_Age|Male_Population|Female_Population|Total_Population|Number_of_Veterans|Foreign_born|Average_Household_Size|State_Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

In [47]:
df_demographics.createOrReplaceTempView("demo_view")
df_temperature.createOrReplaceTempView("temp_view")

In [48]:
spark.sql('''
    SELECT d.Foreign_born as previous_immigrants,t.City,t.AverageTemperature, t.i94port
    FROM demo_view d JOIN temp_view t 
    ON t.City = d.City
    ORDER BY previous_immigrants DESC
    ''').show()

+-------------------+-----------+------------------+-------+
|previous_immigrants|       City|AverageTemperature|i94port|
+-------------------+-----------+------------------+-------+
|            3212500|   New York|             3.264|    NYC|
|            3212500|   New York|             3.264|    NYC|
|            3212500|   New York|             3.264|    NYC|
|            3212500|   New York|             3.264|    NYC|
|            3212500|   New York|             3.264|    NYC|
|            1485425|Los Angeles| 8.818999999999999|    LOS|
|            1485425|Los Angeles| 8.818999999999999|    LOS|
|            1485425|Los Angeles| 8.818999999999999|    LOS|
|            1485425|Los Angeles| 8.818999999999999|    LOS|
|            1485425|Los Angeles| 8.818999999999999|    LOS|
|             696210|    Houston| 8.046000000000001|    HOU|
|             696210|    Houston| 8.046000000000001|    HOU|
|             696210|    Houston| 8.046000000000001|    HOU|
|             696210|    Houston| 8.046000000000001|    HOU|
|             696210|    Houston| 8.046000000000001|    HOU|
|             573463|    Chicago|             5.436|    CHI|
|             573463|    Chicago|             5.436|    CHI|
|             573463|    Chicago|             5.436|    CHI|
|             573463|    Chicago|             5.436|    CHI|
|             573463|    Chicago|             5.436|    CHI|
+-------------------+-----------+------------------+-------+
only showing top 20 rows

As you can see, instead of temperature, there are other factors that come into play for immigrants

In this project, we used Spark since it can easily handle multiple file formats (parquet, csv, text) that contain large amounts of data. Spark SQL was used form fact table.

Since, files update monthly, we can create airflow pipeline to run monthly if needed.